@import url(https://tauhu.tw/tauhu-oo.css);
:root {
  --sa-primary-darker: #AC370C;
  --bs-success: #2F5ACB;
  --bs-suceess-lighter:#EAEFFA;
}
.visually-hidden, .visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
a.sa-link, .md a {
    color: var(--sa-primary-darker);
}
a.sa-link:hover,
a.sa-link:active,
.md a:hover,
.md a:active {
    color: var(--bs-success);
}
a.sa-link:focus-visible,
.md a:focus-visible {
  outline: 3px solid var(--bs-success);
  border-radius: 2px;
}
.text-center {
  text-align: center !important;
}
.mt-3{
  margin-top: 1rem !important;
}
.p-1 {
  padding: .25rem !important;
}
.m-1 {
  margin: .25rem !important;
}
footer[class^="svelte"]{
  display: none !important;
}
.sa-legend {
  margin-top: 0.5rem;
  color: var(--block-title-text-color);
}
.sa-no-bg {
  background-color: transparent;
}
.sa-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.sa-alert {
  box-sizing: border-box;
  position: relative;
  padding: 1rem;
  margin-bottom: 1rem;
  color: var(--primary-800);
  background-color: var(--primary-200);
  border: var(--primary-500);
  border-radius: 0.375rem;
}
.sa-alert.alert-success {
  color: var(--bs-success);
  background-color: var(--bs-suceess-lighter);
  border: var(--bs-success);
}
