@import url(https://tauhu.tw/tauhu-oo.css);
.textonly textarea {border-width: 0px !important; }
:root {
  --sa-primary-darker: #AC370C;
  --bs-success: #2F5ACB;
}
a.sapolita-link {
    color: var(--sa-primary-darker);
}
a.sapolita-link:hover,
a.sapolita-link:active {
    color: var(--bs-success);
}
a.sapolita-link:focus-visible {
  outline: 3px solid var(--bs-success);
  border-radius: 2px;
}