@import url(https://tauhu.tw/tauhu-oo.css);
:root {
  --sa-primary-darker: #AC370C;
  --bs-success: #2F5ACB;
}
a.sa-link {
    color: var(--sa-primary-darker);
}
a.sa-link:hover,
a.sa-link:active {
    color: var(--bs-success);
}
a.sa-link:focus-visible {
  outline: 3px solid var(--bs-success);
  border-radius: 2px;
}
.text-center {
  text-align: center !important;
}
.mt-3{
  margin-top: 1rem !important;
}
footer[class^="svelte"]{
  display: none !important;
}
