bcrypt==4.3.0
beautifulsoup4==4.13.4
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==45.0.2
gradio==0.7.7
idna==3.10
numpy==1.26.4
paramiko==3.5.1
pillow==11.2.1
psutil==5.9.8
pycparser==2.22
pynacl==1.5.0
requests==2.32.4
soupsieve==2.7
typing-extensions==4.13.2
urllib3==2.4.0
